# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains two jobs: test and build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            pdflatex thesis
            biber thesis
            makeglossaries thesis
            pdflatex thesis
            pdflatex thesis

  # build:
  #   # The type of runner that the job will run on
  #   runs-on: ubuntu-latest

  #   # Steps represent a sequence of tasks that will be executed as part of the job
  #   steps:
  #     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #     - uses: actions/checkout@v3
      
  #     - name: Install poppler-utils
  #       run: sudo apt install poppler-utils

  #     # Generate preview image of PDF using poppler
  #     - name: Generate preview image from PDF
  #       run: pdftoppm -singlefile -png thesis.pdf preview

  #     - name: Add and Commit
  #       uses: EndBug/add-and-commit@v9.1.0
  #       with:
  #         message: 'Update preview file'
